<header class="container">
  <app-header></app-header>
</header>
<main class="container">
  <div class="row d-flex justify-content-center part">
    <div class="offset-md-1 col-md-6 col-xs-12 " >
      <app-imput-note (onSave)="doSave($event)"></app-imput-note>
    </div>
  </div>
  <div class="row d-flex justify-content-center part">
    <div class="offset-md-3 col-md-3 col-xs-12 " >
       <button type="button" class="btn btn-warning" (click)="setStatus(true)">Activas</button>
    </div>
    <div class="col-md-3 col-xs-12 " >
       <button type="button" class="btn btn-danger" (click)="setStatus(false)">No activas</button>
    </div>
  </div>
  <div class="row d-flex justify-content-center part">
    <div *ngIf="status">
      <div class="col-md-6 col-xs-12"   *ngFor="let card of cardsActivos">
        <app-main-parts></app-main-parts>
      </div>
    </div>
    <div *ngIf="!status">
      <div class="col-md-6 col-xs-12" *ngFor="let card of cardsNoActivos">
        <app-main-parts></app-main-parts>
      </div>
    </div>
    
   
  </div>
</main>
<footer class="container">

</footer>